body {
    min-width:1024px;
}

.switchon-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    margin-top: 40px;
    text-align: center;
}

.switchon-header h1 {
     display:inline;
         margin-left: 15px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.alert .glyphicon {
    display:table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

.alert div {
    display:table-cell;
    vertical-align: middle;
}
