body {
    min-width:1024px;
}

.switchon-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 10px;
    text-align: center;
}

.switchon-header h1 {
    display:inline;
    margin-left: 15px;
}

.switchon-viewbutton {
    padding-top:10px; 
    margin-top:10px; 
    min-width:175px;
    float:right;
    clear:both
}

.switchon-keywords-form {
    min-height:100px; 
    cursor: pointer;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.alert .glyphicon {
    display:table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

.alert div {
    display:table-cell;
    vertical-align: middle;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    background-color: #337ab7;
    border-color: #204d74;
    color: #fff;
}

.ui-select-multiple.ui-select-bootstrap {
    min-height: 106px;
}
