<div class="modal-header">
    <h3 class="modal-title">SWITCH-ON Meta-Data Repository Upload</h3>
</div>
<div class="modal-body">
    <p class="danger" ng-bind-html="storageController.progress.message"></p>
    <progressbar class="progress-striped active" 
                 ng-class="{active:storageController.progress.active}"
                 max="200" 
                 value="storageController.progress.currval"
                 type="{{storageController.progress.type}}">
        <p class="danger" ng-show="storageController.progress.error">Please report this error to SWITCH-ON (Feedback) and attach the erroneous meta-data file (Download Meta-Data).</p>
    </progressbar>
</div>
<div class="modal-footer">
    <a class="btn btn-primary pull-left"
       href="mailto:switchon.odr@gmail.com?subject=Open-Data Registration Tool">
        <span class="fa fa-fw fa-envelope"></span>
        <span>Feedback</span>
    </a>
    <button class="btn btn-danger" 
            type="button"  
            ng-if="storageController.config.developmentMode === true || storageController.progress.error"
            ng-click="storageController.saveJSON()" 
            ng-href="{{ url}}">
        Download Meta-Data 
    </button>
    <button class="btn btn-primary" 
            type="button" 
            ng-disabled="!storageController.progress.finished"
            ng-click="storageController.close()">
        Close
    </button>
</div>