<div class="modal-header">
    <h3 class="modal-title">SWITCH-ON Meta-Data Repository Upload</h3>
</div>
<div class="modal-body">
    <p class="danger" ng-bind-html="storageController.progress.message"></p>
    
    <progressbar class="progress-striped active" 
                 ng-class="{active:storageController.progress.active}"
                 max="200" 
                 value="storageController.progress.currval"
                 type="{{storageController.progress.type}}">
        <!--<span ng-show="storageController.progress.error">{storageController.progress.error}</span>-->
    </progressbar>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" 
            type="button" 
            ng-disabled="!storageController.progress.finished"
            ng-click="storageController.close()">Close</button>
</div>