<div class="row" ng-controller="de.cismet.sip-html5-resource-registration.controllers.geoLocationController as geoController" >
    <div class="col-md-9">
        <leaflet id="mainmap" 
                 defaults="mapData.defaults" 
                 layers="mapData.layers"
                 center="mapData.center"
                 height="600px" width="820px">   
        </leaflet>
    </div>
    
    <div class="col-md-3" 
         ng-if="!geoController.readOnly">
        
        <div class="row">
            <div class="col-md-12">
                <label>Please select one</label>
            </div>
        </div>
        
        <div class="row">
             <div class="col-md-12">
                <div class="btn-group-vertical">
                    <label class="btn btn-primary" 
                           ng-model="geoController.mode.drawBBox" 
                           ng-click="geoController.switchMode('drawBBox')"
                           btn-radio="true">
                        Define bounding box or polygon
                    </label>
                    
                    <label class="btn btn-primary" 
                           ng-model="geoController.mode.selectCountry" 
                           ng-click="geoController.switchMode('selectCountry')"
                           btn-radio="true">
                        Select countries
                    </label>
                    
                    <!--
                    <label class="btn btn-primary" 
                           ng-model="geoController.mode.selectEC" 
                           ng-click="geoController.switchMode('selectEC')"
                           btn-radio="true">Select European country or region</label>
                    
                    <label class="btn btn-primary" 
                           ng-model="geoController.mode.selectWC" 
                           ng-click="geoController.switchMode('selectWC')"
                           btn-radio="true">Select World country or region</label>
                    -->
                    
                    <label class="btn btn-primary" 
                           ng-model="geoController.mode.defineBBox" 
                           ng-click="geoController.switchMode('defineBBox')"
                           btn-radio="true">
                        Enter bounding box coordinates
                    </label>
                </div>
            </div>
        </div>

        <!-- CONTROL SELECT EUROPE 
        <div class="row" ng-show="geoController.mode.selectEC">
            <div class="col-md-12">
                <hr>
                <label>European countries</label>
                <ui-select ng-model="geoController.contentLocation.name" 
                           theme="bootstrap" 
                           ng-disabled="disabled" 
                           sortable="true"
                           on-select="geoController.onSelectedCountry($item)">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="country.name as country in geoController.countries['countries-europe'] | filter: {name: $select.search}"
                                       position="down"
                                       style="max-height:350px">
                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>-->

        <!-- CONTROL SELECT WORLD 
        <div class="row" ng-show="geoController.mode.selectWC">
            <div class="col-md-12">
                <hr>
                <label>World countries</label>
                <ui-select ng-model="geoController.contentLocation.name" 
                           theme="bootstrap" 
                           ng-disabled="disabled" 
                           sortable="true"
                           on-select="geoController.onSelectedCountry($item)">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="country.name as country in geoController.countries['countries-world'] | filter: {name: $select.search}"
                                       position="down"
                                       style="max-height:350px">
                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>-->
        
        <!-- CONTROL ENTER COORDINATES -->
        <div class="row" ng-show="geoController.mode.defineBBox">
            <div class="col-md-10">
                <hr>
                <form class="form-horizontal" name="forms.coordinatesForm" id="forms.coordinatesForm" novalidate> 
                    <!-- North Bound Latitude -->
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="north">North Bound Latitude</label>
                        </div>
                    </div>
                    <div class="row form-group" 
                         ng-class="{'has-error': !forms.coordinatesForm.north.$error.required && forms.coordinatesForm.north.$invalid,
                                    'has-success': !forms.coordinatesForm.north.$error.required && !forms.coordinatesForm.north.$invalid}">
                        <div class="col-md-12">
                            <input type="number" class="form-control" id="north" name="north" 
                                   ng-model="geoController.contentLocation.bounds.north" 
                                   ng-change="geoController.applyBoundingBox()"
                                   min="-90.00000000000000000" max="90.0000000000000000" required>
                        </div>
                    </div>
                    
                    <!-- East Bound Longitude -->
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="east">East Bound Longitude</label> 
                        </div>
                    </div>
                    <div class="row form-group" 
                         ng-class="{'has-error': !forms.coordinatesForm.east.$error.required && forms.coordinatesForm.east.$invalid,
                                    'has-success': !forms.coordinatesForm.east.$error.required && !forms.coordinatesForm.east.$invalid}">
                        <div class="col-md-12">
                            <input class="form-control" type="number" id="east" name="east" 
                                   ng-model="geoController.contentLocation.bounds.east" 
                                   ng-change="geoController.applyBoundingBox()"
                                   min="-180.0000000000000000" max="180.0000000000000000" required>
                        </div>
                    </div>

                    <!-- South Bound Latitude -->
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="south">South Bound Latitude</label> 
                        </div>
                    </div>
                    <div class="row form-group"  
                         ng-class="{'has-error': !forms.coordinatesForm.south.$error.required && forms.coordinatesForm.south.$invalid,
                                    'has-success': !forms.coordinatesForm.south.$error.required && !forms.coordinatesForm.south.$invalid}">
                        <div class="col-md-12">
                            <input type="number" class="form-control" id="south" name="south" 
                                   ng-model="geoController.contentLocation.bounds.south" 
                                   ng-change="geoController.applyBoundingBox()"
                                   min="-90.00000000000000000" max="90.00000000000000000" required>
                        </div>
                    </div>

                    <!-- West Bound Longitude -->
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="west">West Bound Longitude</label> 
                        </div>
                    </div>
                    <div class="row form-group"  
                         ng-class="{'has-error': !forms.coordinatesForm.west.$error.required && forms.coordinatesForm.west.$invalid,
                                    'has-success': !forms.coordinatesForm.west.$error.required && !forms.coordinatesForm.west.$invalid}">
                        <div class="col-md-12">
                            <input type="number" class="form-control" id="west" name="west" 
                                   ng-model="geoController.contentLocation.bounds.west" 
                                   ng-change="geoController.applyBoundingBox()"
                                   min="-180.0000000000000000" max="180.0000000000000000" required>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>