<form class="form-horizontal"
      id="odRegistrationForm"
      name="odRegistrationForm"
      ng-controller="de.cismet.sip-html5-resource-registration.controllers.odRegistrationController as odRegistrationController">
    <!-- Name -->
    <div class="form-group row" 
         ng-class="{'has-error':wizard.hasError === 'datasetName'}">
        <label for="datasetName" 
               class="col-md-1 form-control-label">Name</label>
        <div class="col-md-8">
            <div tooltip="{{(dataset.name && dataset.$uploaded === true) ? 'The name of an uploaded dataset cannot be changed afterwards.' : null}}">
                <input type="text" class="form-control disabled" 
                       id="datasetName" name="datasetName" 
                       placeholder="Name of the dataset"
                       ng-model="dataset.name"
                       required
                       ng-disabled="dataset.name && dataset.$uploaded === true"
                       ng-focus="showInfoMessage('Please provide a characteristic, and often unique, name by which the dataset is known.');">
            </div>
        </div>
    </div>

    <!-- Link Buttons-->
    <div class="row form-group"
         ng-class="{'has-error':wizard.hasError === 'datasetUploadchoice'}"
         ng-show = "dataset.$uploaded === undefined">
            <label for="datasetUploadchoice" class="col-md-1 form-control-label">Link to Data</label>
            
            <div class="col-md-5">
            <!-- Fake disabled Link Button (tooltips do not work with ng-disabled!) -->    
            <button class="btn btn-primary disabled" 
                    type="button"
                    tooltip="{{!odRegistrationController.generateDOI ? 'Provide a Link to an existing dataset' : 'Please uncheck \'Generate DOI\' to enable this functionality'}}"
                    ng-class="{'btn-danger':wizard.hasError === 'datasetUploadchoice'}"
                    ng-if="odRegistrationController.generateDOI">Provide Link to existing Dataset
            </button>
            
            <!--  Enabled Link Button (tooltips do not work with ng-disabled!) -->    
            <button class="btn btn-primary" 
                    type="button"
                    tooltip="{{!odRegistrationController.generateDOI ? 'Provide a Link to an existing dataset' : 'Please uncheck \'Generate DOI\' to enable this functionality'}}"
                    ng-class="{'btn-danger':wizard.hasError === 'datasetUploadchoice'}"
                    ng-click="dataset.$uploaded = false"
                    ng-if="!odRegistrationController.generateDOI">Provide Link to existing Dataset
            </button>
            
            <!-- HacketyHack! -->
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            
            <!-- Fake disabled Upload button -->
            <button class="btn btn-primary disabled" 
                    type="button"
                    ng-class="{'btn-danger':(wizard.hasError === 'datasetUploadchoice' || wizard.hasError === 'datasetUploadchoiceName')}"
                    tooltip="{{!dataset.name ? 'Please enter the name of the dataset to enable the Data Upload Tool' : 'Open the Data Upload Tool'}}"
                    ng-if="!dataset.name">Upload new Dataset
            </button>
            <!-- Enabled Upload button -->
            <a class="btn btn-primary" 
               type="button"
               ng-class="{'btn-danger':(wizard.hasError === 'datasetUploadchoice' || wizard.hasError === 'datasetUploadchoiceName')}"
               ng-href="{{config.uploadtool.baseUrl}}?datasetname={{dataset.name}}&generateDOI={{odRegistrationController.generateDOI}}"
               tooltip="{{!dataset.name ? 'Please enter the name of the dataset to enable the Data Upload Tool' : 'Open the Data Upload Tool'}}"
               ng-if="dataset.name">Upload new Dataset
            </a> 
        </div>
        <div class="col-md-6">
            <!-- DOI -->
            <div class="checkbox"
                 ng-if="dataset.name">
                <label
                    tooltip="Use an external service to generate a Digital Object Identifier (DOI)">
                    <input
                        id="generateDOI" 
                        name="generateDOI" 
                        type="checkbox"
                        ng-model="odRegistrationController.generateDOI"
                        ng-focus="showInfoMessage('By selecting \'Generate DOI\' you agree that your dataset is also uploaded to <a href=\'http://help.zenodo.org/features/\' title=\'Zenodo Open Science Services\' target=\'_blank\'>Zenodo</a> in order to obtain a persistent <a href=\'https://en.wikipedia.org/wiki/Digital_object_identifier\' target=\'_blank\'>Digital Object Identifier</a> (DOI).<br/>Zenodo is a research data repository. It was created by <a href=\'https://www.openaire.eu\' target=\'_blank\'>OpenAIRE<a/> and CERN to provide a place for researchers to deposit datasets. For further information please consult Zenodo\'s <a href=\'http://about.zenodo.org/terms\' target=\'_blank\'>Terms of Use</a> and <a href=\'http://about.zenodo.org/policies\' target=\'_blank\'>Policies</a>.');"> 
                            Generate a DOI   
                </label>
            </div>
        </div> 
    </div>

    <!-- Link -->
    <div class="row form-group"
         ng-class="{'has-error':wizard.hasError === 'datasetContentlocation'}"
         ng-show = "dataset.$uploaded !== undefined"
         tooltip="{{(dataset.$uploaded === true && dataset.representation[0].contentlocation) ? 'The link of an uploaded dataset cannot be changed afterwards.' : null}}">
        <label for="datasetContentlocation" class="col-md-1 form-control-label">Link to Data</label>
        <!-- Function -->
        <div class="col-md-2">
            <select class="form-control" 
                    ng-style="(!dataset.representation[0].function 
                                && !odRegistrationForm.datasetFunction.$touched) && {'color':'#999999'}" 
                    id="datasetFunction" 
                    name="datasetFunction" 
                    placeholder="Type of Link"
                    ng-options="tag as tag.name for tag in tags['function'] | function:'name' track by tag.name"
                    ng-model="dataset.representation[0].function"
                    ng-change="showInfoMessage(dataset.representation[0].function.description);"
                    ng-disabled="dataset.$uploaded === true && dataset.representation[0].function"
                    tooltip="{{(dataset.$uploaded === true && dataset.representation[0].function) ? 'The type of the link of an uploaded dataset cannot be changed afterwards.' : null}}"
                    required>
                <option style="color:#999999" ng-show="!dataset.representation[0].function" value="">Type of Link</option>
            </select>
        </div>
        <!-- Content Location -->
        <div class="col-md-6">
            <input type="url" 
                   class="form-control" 
                   name="datasetContentlocation" 
                   id="datasetContentlocation" 
                   placeholder="URL of the dataset"
                   ng-model="dataset.representation[0].contentlocation"
                   ng-focus="(wizard.hasError === 'datasetContentlocation') ? showInfoMessage('This dataset is already registered in the SWITCH-ON Spatial Information Platform', 'info', 'fa-warning') : showInfoMessage('Please provide a download link to the dataset or a link to additional information about the dataset.');"
                   ng-change="odRegistrationController.checkLink(dataset.representation[0].contentlocation)"
                   ng-model-options='{ debounce: 1000 }'
                   ng-disabled="dataset.$uploaded === true && dataset.representation[0].contentlocation"
                   tooltip="{{(dataset.$uploaded === true && dataset.representation[0].contentlocation) ? 'The link of an uploaded dataset cannot be changed afterwards.' : null}}"
                   required>
        </div>
        <!-- Content Type -->
        <div class="col-md-3">
            <select class="form-control" 
                    ng-style="(!dataset.representation[0].contenttype 
                                && !odRegistrationForm.datasetContenttype.$touched) && {'color':'#999999'}" 
                    id="datasetContenttype" 
                    name="datasetContenttype" 
                    placeholder="Choose file format"
                    ng-options="tag as tag.description for tag in tags['content type'] | contenttype:'description' track by tag.name"
                    ng-model="dataset.representation[0].contenttype"
                    ng-change="showInfoMessage('The <a href=\'https://en.wikipedia.org/wiki/Media_type\' target=\'_blank\'>media type</a> of the ' + dataset.representation[0].contenttype.description +  ' dataset file is <i>'+dataset.representation[0].contenttype.name + '</i>.');"
                    required>
                <option style="color:#999999" ng-show="!dataset.representation[0].contenttype" value="">Choose file format</option>
            </select>
        </div>
    </div>

    <!-- Description -->
    <div class="form-group row"
         ng-class="{'has-error':wizard.hasError === 'datasetDescription'}">
        <label for="datasetDescription" class="col-md-1 form-control-label">Description</label>
        <div class="col-md-8">
            <textarea class="form-control" 
                      id="datasetDescription" 
                      name="datasetDescription" 
                      placeholder="Please describe the dataset. Use between 100 and 500 words."
                      rows="8"
                      ng-model="dataset.description" 
                      ng-focus="showInfoMessage('Please provide a brief narrative summary of the content of the dataset. Use between 100 and 500 words.')"
                      required></textarea>
        </div>
    </div>

    <!-- Keywords -->
    <div class="form-group row">
        <label  class="col-md-1 form-control-label">Keywords</label>
        <div class="col-md-8">
            <div class="form-control switchon-keywords-form"
                 ng-click="showInfoMessage('Please select one or more keywords from the <strong>extended</strong> CUAHSI Hydrologic Ontology for Discovery that best characterize the dataset. <br>Please click <a href=\'http://his.cuahsi.org/ontologyfiles.html\' target=\'_blank\'>here</a> for more information about the CUAHSI ontology. Get in touch with the <a href=\'mailto:switchon.wm@gmail.com\'>SWITCH-ON Consortium</a> if you want to make a proposal for new keywords.'); odRegistrationController.selectKeywords();">
                <span ng-repeat="tag in dataset.tags">
                    <span class="label label-primary">{{tag.name}}</span>
                </span>
            </div>
        </div>
    </div>

    <!-- disabled as requested in https://github.com/switchonproject/switchon-tools/issues/1#issuecomment-180390096-->
    <!--<div class="form-group row"
         ng-class="{'has-error':wizard.hasError === 'datasetTags'}">
        <label for="datasetTags" class="col-md-1 form-control-label">Keywords</label>
        <div class="col-md-8">
            <textarea class="form-control" id="keyword-box" rows="7"></textarea>
            <ui-select  id="datasetTags"
                        name="datasetTags"
                        class="form-control"
                        multiple limit="20"
                        ng-model="dataset.tags" 
                        theme="bootstrap" 
                        ng-disabled="disabled" 
                        sortable="true" 
                        on-select="showInfoMessage('Please select one or more keywords from the <strong>extended</strong> CUAHSI Hydrologic Ontology for Discovery (X-CUAHSI) that best characterize the dataset. <br>Please click <a href=\'http://his.cuahsi.org/ontologyfiles.html\' target=\'_blank\'>here</a> for more information about the CUAHSI ontology. Get in touch with the <a href=\'mailto:switchon.wm@gmail.com\'>SWITCH-ON Consortium</a> if you want to make a proposal for new keywords and thus an extension of the X-CUSHAI ontology!')">
              
                <ui-select-match 
                    placeholder="Please click here to open a list of selectable CUAHSI keywords.">
                    {{$item.name}}
                </ui-select-match>

                <ui-select-choices ng-show="false" repeat="tag in tags['keywords - X-CUAHSI'] | filter: {name: $select.search}"
                                   group-by="odRegistrationController.groupBy">
                    <div ng-bind-html="tag.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>-->
</form>

