<form class="form-horizontal"
      id="odRegistrationForm"
      name="odRegistrationForm"
      ng-controller="de.cismet.sip-html5-resource-registration.controllers.odRegistrationController as odRegistrationController">
    <!-- Name -->
    <div class="form-group row" 
         ng-class="{'has-error':wizard.hasError === 'datasetName'}">
        <label for="datasetName" 
               class="col-md-1 form-control-label">Name</label>
        <div class="col-md-8">
            <input type="text" class="form-control" 
                   id="datasetName" name="datasetName" 
                   placeholder="Name of the dataset"
                   ng-model="dataset.name"
                   required
                   ng-focus="showInfoMessage('Please provide a characteristic, and often unique, name by which the dataset is known.');">
        </div>
    </div>
    <!-- Link -->
    <div class="row form-group"
         ng-class="{'has-error':wizard.hasError === 'datasetContentlocation'}">
        <label for="datasetContentlocation" class="col-md-1 form-control-label">Link</label>
        <!-- Function -->
        <div class="col-md-2">
            <select class="form-control" id="datasetFunction" name="datasetFunction" 
                    ng-options="tag as tag.name for tag in tags['function'] track by tag.name"
                    ng-model="dataset.representation[0].function"
                    ng-change="showInfoMessage(dataset.representation[0].function.description + ' / dataset.');">
            </select>
        </div>
        <!-- Content Location -->
        <div class="col-md-6">
            <input type="url" class="form-control" 
                   name="datasetContentlocation" id="datasetContentlocation" placeholder="URL of the dataset"
                   ng-model="dataset.representation[0].contentlocation"
                   ng-focus="showInfoMessage('Please provide a download link to the dataset or a link to additional information about the dataset.');"
                   ng-change="odRegistrationController.checkLink(dataset.representation[0].contentlocation)"
                   ng-model-options='{ debounce: 500 }'
                   required>
        </div>
        <!-- Content Type -->
        <div class="col-md-3">
            <select class="form-control" id="datasetContenttype" name="datasetContenttype" placeholder="Description of the dataset"
                    ng-options="tag as tag.description for tag in tags['content type'] track by tag.name"
                    ng-model="dataset.representation[0].contenttype"
                    ng-change="showInfoMessage('The <a href=\'https://en.wikipedia.org/wiki/Media_type\' target=\'_blank\'>media type</a> of the dataset is <i>'+dataset.representation[0].contentype.name + '</i> (' + dataset.representation[0].contentype.description + ').');"
                    required>   
            </select>
        </div>
    </div>

    <!-- Description -->
    <div class="form-group row"
         ng-class="{'has-error':wizard.hasError === 'datasetDescription'}">
        <label for="datasetDescription" class="col-md-1 form-control-label">Description</label>
        <div class="col-md-8">
            <textarea class="form-control" 
                      id="datasetDescription" 
                      name="datasetDescription" 
                      placeholder="Description of the dataset"
                      rows="8"
                      ng-model="dataset.description" 
                      ng-focus="showInfoMessage('Please provide a brief narrative summary of the content of the dataset.')"
                      required></textarea>
        </div>
    </div>

    <!-- Keywords -->
    <div class="form-group row"
         ng-class="{'has-error':wizard.hasError === 'datasetTags'}">
        <label for="datasetTags" class="col-md-1 form-control-label">Keywords</label>
        <!--<div class="col-md-3">
            <select  ng-minlength="1" multiple size="8" class="form-control" id="keyword-list"
                    ng-options="tag as tag.name for tag in tags['keywords - X-CUAHSI'] track by tag.name"
                    ng-model="dataset.tags">   
            </select>

        </div>-->
        <div class="col-md-8">
            <!--<textarea class="form-control" id="keyword-box" rows="7"></textarea>-->
            <ui-select  id="datasetTags"
                        name="datasetTags"
                        class="form-control"
                        multiple limit="20"
                        ng-model="dataset.tags" 
                        theme="bootstrap" 
                        ng-disabled="disabled" 
                        sortable="true" 
                        on-select="showInfoMessage('Please select one or more keywords from the <strong>extended</strong> CUAHSI Hydrologic Ontology for Discovery (X-CUAHSI) that best characterize the dataset. <br>Please click <a href=\'http://his.cuahsi.org/ontologyfiles.html\' target=\'_blank\'>here</a> for more information about the CUAHSI ontology. Get in touch with the <a href=\'mailto:switchon.wm@gmail.com\'>SWITCH-ON Consortium</a> if you want to make a proposal for new keywords and thus an extension of the X-CUSHAI ontology!')">
              
                <ui-select-match 
                    placeholder="Please click here to open a list of selectable X-CUAHSI keywords."
                    >
                    {{$item.name}}
                </ui-select-match>
                <ui-select-choices repeat="tag in tags['keywords - X-CUAHSI'] | filter: {name: $select.search}"
                                   group-by="odRegistrationController.groupBy">
                    <div ng-bind-html="tag.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</form>

